.form__group {
  margin: 15px;
  align-items: center;
  --form-grid-gap: 10px;
}

.form__group h2 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
}

.form__group--single,
.form__group--double,
.form__anken {
  display: grid;
  grid-row-gap: var(--form-grid-gap);
}

.form__group--single {
  grid-template-columns: 1fr 9fr;
}

.form__group--double {
  grid-template-columns: 1fr 4fr 1fr 4fr;
}

.form__anken {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: var(--form-grid-gap);
}

.anken-leader,
.anken-member {
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  padding: 10px;
  height: 100%;
}

.anken-leader {
  background: rgba(227, 249, 220, 0.8);
}

.anken-member {
  background: #ccd4fd;
}

.anken-member--items {
  --item-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--item-gap) * -1);
}

.anken-member--item {
  overflow: hidden;
  width: calc(33% - var(--item-gap));
  margin-left: var(--item-gap);
}

.function__group {
  border-radius: 8px;
  background: rgba(253, 204, 251, 0.5);
  padding: 10px;
}

.function__wrap-search {
  text-align: center;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 11% center;
}

.function__search {
  width: 80%;
  border: none;
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 2px solid #6a5af9;
  padding: 0 40px;
}
