.form__group {
  margin: 15px;
  align-items: center;
  --form-grid-gap: 10px;
}

.form__group h2 {
  font-size: 16px;
  font-weight: 600;
  font-style: normal;
  line-height: 24px;
}

.form__group--single,
.form__group--double,
.form__anken {
  display: grid;
  grid-row-gap: var(--form-grid-gap);
}

.form__group--single {
  grid-template-columns: 1fr 9fr;
}

.form__group--double {
  grid-template-columns: 1fr 4fr 1fr 4fr;
}

.form__anken {
  grid-template-columns: 1fr 2fr;
  grid-column-gap: var(--form-grid-gap);
}

.anken-leader,
.anken-member {
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
  padding: 10px;
  height: 100%;
}

.anken-leader {
  background: rgba(227, 249, 220, 0.8);
}

.anken-member {
  background: #ccd4fd;
}

.anken-member--items {
  --item-gap: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--item-gap) * -1);
}

.anken-member--item {
  overflow: hidden;
  width: calc(33% - var(--item-gap));
  margin-left: var(--item-gap);
}

.function__group {
  border-radius: 8px;
  background: rgba(253, 204, 251, 0.5);
  padding: 10px;
  min-height: 250px;
  margin: 20px 0;
}
