.user {
  display: flex;
  align-items: center;
  margin: 5px;
}

.user--avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.circle-icon {
  background: #636363;
  color: #fff;
  text-align: center;
  line-height: 45px;
  font-size: 20px;
  padding-left: 5px;
}

.circle-icon:hover {
  cursor: pointer;
}

.user-info {
  padding-left: 20px;
  flex: 1;
}

.user-info--top {
  display: flex;
  align-items: center;
  font-size: 14px;
}

.user-info--username {
  font-weight: 500;
  line-height: 1px;
}

.user-info--top i {
  color: #6d6d6d;
  padding: 5px;
  margin-left: 5px;
  border-radius: 50%;
}

.user-info--top i:hover {
  cursor: pointer;
}

.user-info--role {
  color: #999;
  font-size: 13px;
}
