.nav-links {
  height: calc(
    100% - (var(--sidebar-header-height) + var(--sidebar-profile-height))
  );
  padding: 30px 0 150px 0;
}

.nav-links li {
  position: relative;
  list-style: none;
}

.nav-links li:hover {
  background: #1d1b31;
}

.nav-links li .icon-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links li i {
  height: 50px;
  min-width: 78px;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav-links li.showMenu i.arrow {
  transform: rotate(-180deg);
}

.nav-links li a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.nav-links li a .link_name {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}

.nav-links li .sub-menu {
  padding: 6px 6px 14px 80px;
  margin-top: -10px;
  background: #1d1b31;
  display: none;
  transition: all 0.5s ease;
}

.nav-links li.showMenu .sub-menu {
  display: block;
  user-select: none;
}

.nav-links li .sub-menu a {
  color: #fff;
  font-size: 15px;
  padding: 5px 0;
  white-space: nowrap;
  opacity: 0.6;
}

.nav-links li .sub-menu a:hover {
  opacity: 1;
}

.nav-links li .sub-menu .link_name {
  display: none;
}

.nav-links li .sub-menu.blank {
  opacity: 1;
  pointer-events: auto;
  padding: 3px 20px 6px 16px;
  opacity: 0;
  pointer-events: none;
}

.nav-links li:hover .sub-menu.blank {
  top: 50%;
  transform: translateY(-50%);
}

/* For close menu state */
.nav-links li .icon-link.close {
  display: block;
}

.nav-links li .icon-link.close i.arrow {
  display: none;
}

.nav-links li .sub-menu.close {
  border-radius: 0 6px 6px 0;
  display: block;
  position: absolute;
  padding: 10px 20px;
  pointer-events: none;
  margin-top: 0;
  left: 100%;
  opacity: 0;
  top: -10px;
  z-index: 100;
  width: 200px;
}

.nav-links li:hover .sub-menu.close {
  top: 0;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.8s ease;
}

.nav-links li .sub-menu.close .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}

/* for MenuItem */
.nav-links li .sub-menu.alt {
  border-radius: 0 6px 6px 0;
  display: block;
  position: absolute;
  padding: 10px 20px;
  margin-top: 0;
  left: 100%;
  z-index: 100;
  width: 200px;
}

.nav-links li:hover .sub-menu.alt {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.8s ease;
}

.nav-links li .sub-menu.alt .link_name {
  font-size: 18px;
  opacity: 1;
  display: block;
}
